@charset "UFT-8";
/* cursor */
body{
    position: relative;
    cursor: none;  /*もともとあるカーソルは見えなくなるようにする*/
  }

#cursor{
    position: fixed;
    /*丸の大きさと色の指定*/
    background: rgba(104, 126, 141, 0.3);
    border-radius:50%;
    width: 20px;
    height: 20px;
    margin: -20px 0 0 -20px;/*真ん中にくるようにマイナスマージンで調整*/
    z-index: 1000;/*一番手前に来るように*/
    pointer-events: none;/*クリックできなくなるのを防ぐため。noneで対応*/
    opacity: 0;
    transition: transform 0.5s;
}

#cursor:hover {
    position: fixed;
    /*丸の大きさと色の指定*/
    background: rgba(104, 126, 141, 0.3);
    border-radius:20px;
    width: 100px;
    height: 100px;
    margin: -20px 0 0 -20px;/*真ん中にくるようにマイナスマージンで調整*/
    z-index: 1000;/*一番手前に来るように*/
    pointer-events: none;/*クリックできなくなるのを防ぐため。noneで対応*/
    opacity: 0;
}
#cursor.active {
    transform: scale(3,3);
}

#cursor.colorChange {
    background-color: rgba(255, 255, 255, 0.3)
}

/* common */

body {
    background-color: rgb(216, 216, 204, 0.3);
}

h3 {
    font-size: 21px;
    color: #3a5e73;
    text-align: center;
    margin-top: 21px;
}

h4 {
    color: #3a5e73;
    /* font-size: 21px; */
}

/* FV */
/* nav */
.fv {
    max-width: 1366px;
    position: relative;
}

.nav_wrap {
    position: fixed;
    top: 0;
    left: 5%;
    transition: 0.5s;
    z-index: 999;
}

.title h1 {
    font-size: 14px;
    color: #687e8d;
    margin-top: 56px;
}

.title  p {
    font-size: 9px;
    color: #687e8d;
    margin-top: 10px;
}

/* nav hovar */

.nav {
    margin-top: 138px;
}

.pc_nav {
    text-decoration: none;
    color: inherit;
    line-height: 1.5em;
     /* 高さをline-heightと一緒に */
    height: 1.5em;
    /* 縦並び */
    display: flex;
    flex-direction: column;
    /* はみ出たところを隠す */
    overflow: hidden;
}

/* ホバー時の変化をゆっくりに */
.pc_nav span {
    font-size: 14px;
    /* color: #687e8d; */
    transition: 0.5s;
    text-align: left;
}

/* ホバーした時に、テキストを上に1行分ずつずらす */
.pc_nav:hover span {
    transform: translateY(-100%);
}

/* beforeで丸を作成 */
.nav li::before {
    content: "";
    display: block;
    background-color: #687e8d;
    width: 0.3em;
    height: 0.3em;
    border-radius: 50%;
    /* 初期状態は透明に */
    opacity: 0;
    /* ホバー時ゆっくり表示されるように */
    transition: 0.5s;
}

/* 丸とリンクを横並びに */
.nav li {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 36px;
}

.nav li:has(a:hover)::before {
    opacity: 1;
  }

/*↑nav*/

/* sp_nav */

.sp_nav  {
    display: none;
}

.sp_btn  {
    display: none;
}

@media screen and (max-width: 767px) {

    .nav {
        display: none;
    }

    .nav_wrap {
        left: 0;
        width: 100%;
        mix-blend-mode: normal;
    }

    .sp_btn {
        display: block;
        height: 23px;
        /* cursor: pointer; */
        position: absolute;
        top: 20px;
        right: 25px;
        z-index: 2;
    }

    .sp_btn span {
        display: block;
        width: 33px;
        height: 1px;
        background-color: #687e8d;
        border-radius: 2px;
        /* 位置の調整 */
        position: relative;
        top: 10px;
        /* ボタンの変化 */
        transition: 0.3s;
    } 
    
    .sp_btn span::before,
    .sp_btn span::after {
        content: "";
        display: block;
        width: 33px;
        height: 1px;
        background-color: #687e8d;
        border-radius: 2px;
        /* 位置の調整 */
        position: absolute;
        /* ボタンの変化 */
        transition: 0.3s;
    }

    .sp_btn span::before {
        bottom: 10px;
    }

    .sp_btn span::after {
        top: 10px;
    }

    .sp_btn.open span {
        background-color: transparent;
    }

    .sp_btn.open span::before {
        bottom: 0;
        transform: rotate(45deg);
        background-color: #fff;
    }

    .sp_btn.open span::after {
        top: 0;
        transform: rotate(-45deg);
        background-color: #fff;
    }

    /* navの位置 */

    .nav_text a {
        display: flex;
        justify-content: space-between;
        color: #fff;
    }

    .sp_nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(104, 126, 141, 0.8);
        z-index: 1;
    }

    .sp_nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        gap: 20px;
    }

    .sp_nav ul li {
        width: 100%;
        color: #fff;
        font-size: 12px;
        border-bottom: 1px #fff solid;
        box-sizing: border-box;
        padding: 22px 20px;
    }

    .nav_text2 {
        font-size: 16px;
    }

}

.wrap {
    text-align: center;
    margin-top: 250px;
}

.secondary {
    color: #3a5e73;
    font-size: 36px;
}

.about {
    margin-top: 52px;
}

.about span {
    font-size: 56px;
    color: rgb(104, 126, 141, 0.1);
    text-align: center;
}

/* sp */

@media screen and (max-width: 767px) {

    .title {
        display: flex;
        margin-left: 5%;
    }

    .title h1 {
        margin-top: 26px;
        padding-right: 19px;
        border-right: 1px solid #687e8d;
    }
    
    .title  p {
        font-size: 14px;
        margin-top: 26px;
        margin-left: 19px;
    }

    .wrap {
        margin-top: 117px;
    }

    .secondary {
        font-size: 21px;
    }

    .about {
        margin-top: 26px;
    }

    .about span {
        font-size: 36px;
    }

}


/* main */

.about_main {
    max-width: 875px;
    margin: 0 auto;
    background-color: #fff;
    padding-top: 264px;
    padding-bottom: 174px;
    margin-top: -20px;
    margin-bottom: 231px;
}

/* about_me */

.about_wrap {
    display: flex;
    justify-content: space-between;
}

.about_wrap > img {
    object-fit: cover;
    width: 54vw;
    margin-left: calc(50% - 50vw);
}

.about_wrap2 {
    max-width: 355px;
    margin-right: calc((100% - 1000px) / 2);
}

.article {
    width: 100%;
    height: 910px;
    writing-mode: vertical-rl;
    column-count: 3;
    column-gap: 21px;
}

.article p {
    font-size: 14px;
    line-height: 2.3;
    text-indent: 1em;
}

.avatar {
    max-width: 335px;
    margin-top: 42px;
    margin-right: calc((100% - 1000px) / 2);
}

.avatar_img {
    text-align: right;
}

.about_wrap3 {
    margin-top: 42px;
    border-top: #6e6a66 0.5px solid;
    border-bottom: #6e6a66 0.5px solid;
    padding-top: 21px;
    padding-bottom: 21px;
}

.about_wrap3 p {
    line-height: 2;
    font-size: 12px;
}

.mobile_img {
    display: none;
}

@media screen and (max-width: 1000px) {

    .about_main {
        padding-top: 26px;
        margin: 0 12%;
        margin-top: 109px;
        margin-bottom: 209px;
    }

    .article {
        margin-left: 0;
        margin-right: 0;
    }

    .about_wrap {
        flex-direction: column;
    }

    .desktop_img {
        display: none;
    }

    .mobile_img {
        display: block;
        width: 100%;
        min-width: 293px;
    }


    .about_wrap img {
        text-align: end;
    }

    .article {
        margin: 0 auto;
        margin-top: 66px;
    }

    .avatar_img {
        text-align: center;
        margin-top: 79px;
    }

    .about_wrap3 {
        margin-top: 26px;
        padding-top: 21px;
        padding-bottom: 21px;
    }

    .about_wrap3 p {
        font-size: 12px;
        line-height: 2.3;
    }

}

/* 縦組切り替え */
@media screen and (max-width: 1000px) {

    .about_wrap2 {
        max-width: 1000px;
        width: 100%;
        margin-right: 0;
        width: calc( 100% + ((100vw - 100%) / 2));
        margin: 0 calc((100% - 100vw) / 4);
    }

    .article {
        height: 450px;
        writing-mode: vertical-rl;
        column-count: 2;
    }
}

@media screen and (max-width: 650px) {

    .about_wrap2 {
        max-width: 650px;
    }

    .article {
        height: 600px;
        writing-mode: vertical-rl;
        column-count: 2;
    }
}

@media screen and (max-width: 516px) {

    .about_wrap2 {
        max-width: 516px;
    }

    .article {
        height: 1010px;
        writing-mode: vertical-rl;
        column-count: 3;
    }

    .avatar {
        max-width: 100%;
    }
}


/* favorite thing */

.favoritething {
    margin-top: 313px;
    text-align: center;
}

.label {
    display: inline-block;
    margin-top: 20px;
    border-left: 1px solid rgba(58, 94, 115, 0.5);
    padding-left: 14px;
    font-size: 12px;
    color: rgba(58, 94, 115, 0.5);
}

/* スクロールバー分はみ出るのを防ぐ */

body {
    container-type: inline-size;
}

.slide_container {
    position: relative;
    height: 181px;
    width: 100vw;
    width: 100cqw;
    margin: 0 calc(50% - 50vw);
    margin: 0 calc(50% - 50cqw);
    margin-top: 117px;
}

.favoritething_img {
    display: flex;
    overflow: hidden;
    width: calc(77% + (100vw - 100%) / 2);
    position: absolute;
    top: 0;
    right: 0;
    min-width: 700px;
}

.slideshow {
    display: flex;
    animation: loop-slide 20s infinite linear 1s both;
}

.slideshow img {
    max-width: 293px;
    margin: 10px;
    filter: drop-shadow(3px 3px 3px #aaa);
}

@keyframes loop-slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}


.favoritething_article {
    margin: 50px calc((100% - 1000px) / 2) 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.favoritething_text {
    width: 60%;
    margin-top: 50px;
}

.favoritething_article p {
    margin-top: 21px;
    font-size: 14px;
    line-height: 2;
    text-align: justify;
    padding-right: 20px;
}

@media screen and (max-width: 1000px) {

    .favoritething_article {
        width: 100vw;
        width: 100cqw;
        margin: 109px calc(50% - 50vw);
        margin: 109px calc(50% - 50cqw);
    }

    .favoritething {
        margin-top: 198px;
    }
}

@media screen and (max-width: 767px) {

    .label {
        margin: calc((100% - 100vw) / 4);
    }

    .favoritething_article{
        width: calc( 100% + ((100vw - 100%) / 2));
        flex-direction: column;
        margin: calc((100% - 100vw) / 4);
        align-items: center;
        margin-top: 100px;
    }

    .favoritething {
        text-align: left;
    }

    h3 {
        text-align: left;
        margin: calc((100% - 100vw) / 4);
        margin-top: 21px;
    }

    .favoritething_text {
        width: 100%;
    }
    
    .slide_container {
        margin-top: 50px;
    }

    .favoritething_img {
        margin-top: 50px;
    }

}

/* values */

.values {
    margin-top: 313px;
    text-align: center;
}

.values_wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 117px;
}

.values_img {
    object-fit: cover;
    width: 65vw;
    margin: 0 calc(50% - 50vw);
}

.values_article {
    max-width: 250px;
    margin-right: calc((100% - 1000px) / 2);
}

.values span {
    font-size: 36px;
    color: rgb(104, 126, 141, 0.1);
    
}
.values_article h4 {
    margin-top: 50px;
}

.values_article h4:first-child {
    margin-top: 34px;
}

.values_article p {
    margin-top: 10px;
    font-size: 14px;
    line-height: 2.3;
}

.values_text {
    width: 100%;
}

@media screen and (max-width: 1000px) {

    .values {
        margin-top: 198px;
    }

    .values_wrap {
        flex-direction: column;
        margin-top: 50px;
    }

    .values_article {
        max-width: 1000px;
        width: 100vw;
        width: 100cqw;
        margin: 50px calc(50% - 50vw);
        margin: 50px calc(50% - 50cqw);
        display: flex;
        flex-direction: column;
        align-items: end;
    }

    .values_text {
        width: 60%;
    }

    .values_text p {
        padding-right: 20px;
    }

}
@media screen and (max-width: 767px) {

    .values {
        text-align: left;
    }
    
    .values_article{
        width: calc( 100% + ((100vw - 100%) / 2));
        flex-direction: column;
        margin: calc((100% - 100vw) / 4);
        margin-top: 50px;
        align-items: center;
    }

    .values_img {
        margin-top: 50px;
    }
    .values_img img {
        width: 100vw;
        min-width: 293px;
    }

    .values_text {
        width: 100%;
    }
    
    }

/*footer*/
.hidden-area {
    position: relative;
}

.hidden {
    animation: fade .2s ease-in-out forwards;
    pointer-events: none;
   }

@keyframes fade {
    from {
     opacity: 1;
    }
   
    to {
     opacity: 0;
    }
   }
   
   .visible {
    animation: fadeOut .2s ease-in-out forwards;
    pointer-events:all;
   }
   
   @keyframes fadeOut {
    from {
     opacity: 0;
    }
   
    to {
     opacity: 1;
    }
   }

.hidden-area img {
    width: 100%;
    height: 605px;
    object-fit: cover;
}

.footer_wrap {
    position: absolute;
    top: 127px;
    left: 13%;
}

.footer_wrap h1 {
    color: #fff;
    font-size: 14px;
}

.footer_wrap p {
    color: #fff;
    font-size: 9px;
    margin-top: 10px;
}

.footer_nav {
    margin-top: 89px;
}

.footer_nav li {
    color: #fff;
    margin-top: 36px;
    font-size: 14px;
}

.copyright {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 9px;
}

/* スクロールにより画面中央でカラーに変化 */

/* img { */
    /* -webkit-filter: grayscale(1); Webkit */
    /* filter: gray; IE6-9 */
    /* filter: grayscale(1); W3C */
/* } */

/* img:hover {
    filter: none;
} */

.grayscale {
    /* opacity: 0; */
    -webkit-filter: grayscale(1); 
    filter: gray; 
    filter: grayscale(1); 
    transition: 1.4s;
}

.grayscale.active {
    /* animation: 2s fadeup ease-in-out forwards; */
    filter: none;
    transition: 1.4s;
  }

  @keyframes fadeup {
    0% {
      opacity: 0;
      transform: translateX(-50px);
    }
  
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }