@charset "UFT-8";

/* common */

body {
    background-color: rgb(216, 216, 204, 0.3);
}

span {
    font-size: 56px;
    color: rgb(104, 126, 141, 0.1);
    text-align: center;
}


h3 {
    font-size: 36px;
    color: #3a5e73;
    text-align: center;
    margin-top: 313px;
}

h4 {
    color: #3a5e73;
    font-size: 21px;
}

/* nav */
.fv {
    max-width: 1366px;
    position: relative;
}

.nav_wrap {
    position: fixed;
    top: 0;
    left: 5%;
    transition: 0.5s;
    z-index: 999;
}

.title h1 {
    font-size: 14px;
    color: #687e8d;
    margin-top: 56px;
}

.title  p {
    font-size: 9px;
    color: #687e8d;
    margin-top: 10px;
}


.nav {
    margin-top: 174px;
}

.nav li {
    color: #687e8d;
    margin-top: 36px;
    font-size: 14px;
}

/*↑nav*/

.wrap {
    text-align: center;
    margin-top: 250px;
}

.secondary {
    color: #3a5e73;
    font-size: 36px;
}

.about {
    margin-top: 52px;
}

/* sp */

@media screen and (max-width: 767px) {

    .title {
        display: flex;
    }

    .title h1 {
        margin-top: 26px;
        padding-right: 19px;
        border-right: 1px solid #687e8d;
    }
    
    .title  p {
        font-size: 14px;
        margin-top: 26px;
        margin-left: 19px;
    }

    .wrap {
        margin-top: 117px;
    }

    .secondary {
        font-size: 21px;
    }

    span {
        font-size: 36px;
    }

    .about {
        margin-top: 26px;
    }

        
}


/* main */

.about_main {
    max-width: 875px;
    margin: 0 auto;
    background-color: #fff;
    padding-top: 264px;
    padding-bottom: 174px;
    margin-top: -20px;
    margin-bottom: 231px;
}

/* about_me */

.about_wrap {
    display: flex;
    justify-content: space-between;
}

.about_wrap > img {
    object-fit: cover;
    width: 54vw;
    margin-left: calc(50% - 50vw);
}

.about_wrap2 {
    max-width: 355px;
    margin-right: calc((100% - 1000px) / 2);
}

.article {
    width: 100%;
    height: 910px;
    writing-mode: vertical-rl;
    column-count: 3;
    column-gap: 21px;
}

.article p {
    font-size: 14px;
    line-height: 2.3;
    text-indent: 1em;
}

.avatar {
    max-width: 335px;
    margin-top: 42px;
    margin-right: calc((100% - 1000px) / 2);
}

.avatar_img {
    text-align: right;
}

.about_wrap3 {
    margin-top: 42px;
    border-top: #6e6a66 0.5px solid;
    border-bottom: #6e6a66 0.5px solid;
    padding-top: 21px;
    padding-bottom: 21px;
}

.about_wrap3 p {
    line-height: 2;
}

.mobile_img {
    display: none;
}

@media screen and (max-width: 1000px) {

    .about_main {
        padding-top: 26px;
        margin: 0 12%;
        margin-top: 109px;
        margin-bottom: 209px;
    }

    .article {
        margin-left: 0;
        margin-right: 0;
    }

    .about_wrap {
        flex-direction: column;
    }

    .desktop_img {
        display: none;
    }

    .mobile_img {
        display: block;
        width: 100%;
        min-width: 293px;
    }


    .about_wrap img {
        text-align: end;
    }

    .article {
        margin: 0 auto;
        margin-top: 66px;
    }

    .avatar_img {
        text-align: center;
        margin-top: 79px;
    }

    .about_wrap3 {
        margin-top: 26px;
        padding-top: 21px;
        padding-bottom: 21px;
    }

    .about_wrap3 p {
        font-size: 12px;
        line-height: 2.3;
    }

}

/* 縦組切り替え */
@media screen and (max-width: 1000px) {

    .about_wrap2 {
        max-width: 1000px;
        width: 100%;
        margin-right: 0;
        width: calc( 100% + ((100vw - 100%) / 2));
        margin: 0 calc((100% - 100vw) / 4);
    }

    .article {
        height: 450px;
        writing-mode: vertical-rl;
        column-count: 2;
    }
}

@media screen and (max-width: 650px) {

    .about_wrap2 {
        max-width: 650px;
    }

    .article {
        height: 600px;
        writing-mode: vertical-rl;
        column-count: 2;
    }
}

@media screen and (max-width: 516px) {

    .about_wrap2 {
        max-width: 516px;
    }

    .article {
        height: 1010px;
        writing-mode: vertical-rl;
        column-count: 3;
    }
}


/* favorite thing */

.favoritething {
    margin-top: 21px;
    text-align: center;
}

/* スクロールバー分はみ出るのを防ぐ */

body {
    container-type: inline-size;
}

.slide_container {
    position: relative;
    height: 181px;
    width: 100vw;
    width: 100cqw;
    margin: 0 calc(50% - 50vw);
    margin: 0 calc(50% - 50cqw);
    margin-top: 117px;
}

.favoritething_img {
    display: flex;
    overflow: hidden;
    width: calc(77% + (100vw - 100%) / 2);
    position: absolute;
    top: 0;
    right: 0;
    min-width: 700px;
}

.slideshow {
    display: flex;
    animation: loop-slide 20s infinite linear 1s both;
}

.slideshow img {
    max-width: 293px;
}

@keyframes loop-slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}


.favoritething_article {
    margin: 109px calc((100% - 1000px) / 2) 0;
    display: flex;
    justify-content: space-between;
}

.favoritething_text {
    width: 42%;
}

.favoritething_article p {
    margin-top: 21px;
    line-height: 2;
    text-align: justify;
}

@media screen and (max-width: 1000px) {

    .works_img_wrap {
        width: calc( 100% + ((100vw - 100%) / 2));
        margin: 0 calc((100% - 100vw) / 4);
        margin-top: 109px;
        }
        
    }

@media screen and (max-width: 1000px) {

    .favoritething_article{
        width: calc( 100% + ((100vw - 100%) / 2));
        flex-direction: column;
        align-items: center;
        margin: 0 calc((100% - 100vw) / 4);
        
    }

    .favoritething_article h4 {
        margin-top: 109px;
    }

    .favoritething_text {
        width: 100%;
    }

        
}

@media screen and (max-width: 767px) {

    span {
        font-size: 36px;
    }
    
    
    h3 {
        font-size: 21px;
        margin-top: 209px;
    }
    
}



/* values */

.values {
    margin-top: 21px;
    text-align: center;
}

.values_wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 174px;
}

.values_wrap > img {
    object-fit: cover;
    /* width: 65vw; */
    margin: 0 calc(50% - 50vw);
}

.values_article {
    max-width: 250px;
    margin-right: calc((100% - 1000px) / 2);
}

.values_article h4 {
    margin-top: 91px;
}

.values_article h4:first-child {
    margin-top: 34px;
}

.values_article p {
    margin-top: 21px;
    line-height: 2;
}


@media screen and (max-width: 1000px) {

    .values_wrap {
        flex-direction: column;
        margin-top: 117px;
    }
    

    /* margin苦戦している箇所 */
    .values_article {
        max-width: initial;
        width: calc( 100% + ((100vw - 100%) / 2));
        margin-right: 0;
        margin: 0 calc((100% - 100vw) / 4);
    }

    .values_img img {
        width: 100vw;
    }

    .values_article h4 {
        margin-top: 117px;
    }

    .values_article h4:first-child {
        margin-top: 117px;
    }

    .values_article p {
        margin-top: 26px;
        line-height: 2.3;
    }
    
}





/*footer*/
.hidden-area {
    position: relative;
}

.hidden {
    animation: fade .2s ease-in-out forwards;
    pointer-events: none;
   }

@keyframes fade {
    from {
     opacity: 1;
    }
   
    to {
     opacity: 0;
    }
   }
   
   .visible {
    animation: fadeOut .2s ease-in-out forwards;
    pointer-events:all;
   }
   
   @keyframes fadeOut {
    from {
     opacity: 0;
    }
   
    to {
     opacity: 1;
    }
   }

.hidden-area img {
    width: 100%;
    height: 605px;
    object-fit: cover;
}

.footer_wrap {
    position: absolute;
    top: 127px;
    left: 13%;
}

.footer_wrap h1 {
    color: #fff;
    font-size: 14px;
}

.footer_wrap p {
    color: #fff;
    font-size: 9px;
    margin-top: 10px;
}

.footer_nav {
    margin-top: 89px;
}

.footer_nav li {
    color: #fff;
    margin-top: 36px;
    font-size: 14px;
}

.copyright {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 9px;
}