@charset "UFT-8";

/* common */

body {
    background-color: rgb(216, 216, 204, 0.3);
}
span {
    font-size: 56px;
    color: rgb(104, 126, 141, 0.1);
    text-align: center;
}

.bg {
    margin: 20px 0;
}


/* nav */
.fv {
    max-width: 1366px;
    position: relative;
}

.nav_wrap {
    position: fixed;
    top: 0;
    left: 5%;
    transition: 0.5s;
    z-index: 999;
}

.title h1 {
    font-size: 14px;
    color: #687e8d;
    margin-top: 56px;
}

.title  p {
    font-size: 9px;
    color: #687e8d;
    margin-top: 10px;
}


.nav {
    margin-top: 174px;
}

.nav li {
    color: #687e8d;
    margin-top: 36px;
    font-size: 14px;
}

/*↑nav*/

.wrap {
    text-align: center;
    margin-top: 250px;
}

.secondary {
    color: #3a5e73;
    font-size: 36px;
}


.concept {
    margin-top: 52px;
}

/* sp */

@media screen and (max-width: 767px) {

    .title {
        display: flex;
    }

    .title h1 {
        margin-top: 26px;
        padding-right: 19px;
        border-right: 1px solid #687e8d;
    }
    
    .title  p {
        font-size: 14px;
        margin-top: 26px;
        margin-left: 19px;
    }

    .wrap {
        margin-top: 117px;
    }

    .secondary {
        font-size: 21px;
    }

    span {
        font-size: 36px;
    }

    .about {
        margin-top: 26px;
    }

        
    }



/* main */

/* concept */

.concept_main {
    max-width: 875px;
    margin: 0 auto;
    background-color: #fff;
    padding-top: 264px;
    padding-bottom: 174px;
    margin-top: -20px;
    margin-bottom: 231px;
}

.concept_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6c7d8c;
    padding: 120px 62.5px;
    max-width: 1000px;
    margin: 0 calc((100% - 1000px) / 2);
}

.concept_article h3 {
    font-size: 36px;
    color: #fff;
    display: inline-block;
}

.concept_content {
    display: inline-block;
}

.secondary2 {
    font-size: 16px;
    color: #fff;
    margin-top: 21px;
    text-align:right;
}
    
.concept_text {
    color: #fff;
    line-height: 2;
    margin-top: 70px;
    font-size: 14px;
}

.line {
    display: block;
    margin-top: 22.5px;
    margin-bottom: 22.5px;
}

.concept_img {
    margin-right: calc((100% - 1127px) / 2);
    align-items: center;
}

.mobile_img {
    display: none;
}


@media screen and (max-width: 1127px) {

    .concept_main {
        padding-top: 26px;
        margin: 0 12%;
        margin-top: 109px;
        margin-bottom: 209px;
    }

    .concept_article {
        margin-left: 0;
        margin-right: 0;
        text-align: center;
        margin-top: 380px;
    }

    .concept_wrap {
        margin: 0 calc((100% - 100vw) / 4);
        margin-top: 85px;
        padding: 66px 10%;
    }

    .concept_wrap {
        flex-direction: column;
    }

    .concept_content {
        justify-content: center;
        margin-top: 117px;
    }

    .center_box {
        display: flex;
        justify-content: center;
        text-align: center;
        
    }

    .concept_img {
        order: -1;
        width: 100vw;
        width: 100cqw;
        margin: 0 calc(50% - 50vw);
        margin: 0 calc(50% - 50cqw);
        position: relative;
    }

    .desktop_img {
        display: none;
    }

    .mobile_img {
        display: block;
        width: 100%;
        min-width: 293px;
    }

    /* imgサイズ苦戦している箇所 */
    .concept_img img {
        object-fit: cover;
        width: 60%;
        min-width: 293px;
        position: absolute;
        top: -120px;
        right: 0;
        min-width: 293px;
    }

    .concept_text  {
        text-align: left;
    }

    
}

@media screen and (max-width: 930px) {

    .concept_article {
        margin-top: 300px;
    }
}

@media screen and (max-width: 767px) {

    .concept_main {
        padding-top: 26px;
        margin-top: 109px;
    }

    .concept_wrap {
        margin-top: 85px;
    }

    .concept_article {
        margin-top: 200px;
    }

    .concept_article h3 {
        font-size: 21px;
    }
    
    .secondary2 {
        font-size: 12px;
        margin-top: 15px;
        text-align:right;
    }

    .center_box {
        width: 92%;
        margin: 0 auto;
        text-align: center;
    }

    .desktop_break {
        display: none;
    }
} 

@media screen and (max-width: 560px) {

    .concept_article {
        margin-top: 100px;
    }
}
    

/* concept2 */

.concept2_wrap {
    margin-top: 313px;
}

.concept2_wrap h3 {
    font-size: 36px;
    color: #3a5e73;
    text-align: center;
}

.concept2_img {
    margin-top: 174px;
    display: flex;
    overflow: hidden;
    margin-left: 28%;
    width: calc(72% + (100vw - 100%) / 2);
}


.slideshow {
    display: flex;
    animation: loop-slide 20s infinite linear 1s both;
}

.slideshow img {
    max-width: 293px;
}

@keyframes loop-slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.concept2_text {
    margin-top: 174px;
    margin-left: 28%;
    line-height: 2.3;
    font-size: 14px;
}

@media screen and (max-width: 767px) {

    .concept2_wrap {
        margin-top: 143px;
    }
    
    .concept2_wrap h3 {
        font-size: 21px;
    }

    .concept2_img {
        margin-top: 117px;
    }

    .concept2_text {
        margin: 0 auto;
        margin-top: 70px;
        width: 92%;
    }


} 


/*footer*/
.hidden-area {
    position: relative;
}

.hidden {
    animation: fade .2s ease-in-out forwards;
    pointer-events: none;
   }

@keyframes fade {
    from {
     opacity: 1;
    }
   
    to {
     opacity: 0;
    }
   }
   
   .visible {
    animation: fadeOut .2s ease-in-out forwards;
    pointer-events:all;
   }
   
   @keyframes fadeOut {
    from {
     opacity: 0;
    }
   
    to {
     opacity: 1;
    }
   }

.hidden-area img {
    width: 100%;
    height: 605px;
    object-fit: cover;
}

.footer_wrap {
    position: absolute;
    top: 127px;
    left: 13%;
}

.footer_wrap h1 {
    color: #fff;
    font-size: 14px;
}

.footer_wrap p {
    color: #fff;
    font-size: 9px;
    margin-top: 10px;
}

.footer_nav {
    margin-top: 89px;
}

.footer_nav li {
    color: #fff;
    margin-top: 36px;
    font-size: 14px;
}

.copyright {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 9px;
}

