@charset "UFT-8";

/* common */

body {
    background-color: rgb(216, 216, 204, 0.3);
}
span {
    font-size: 56px;
    color: rgb(104, 126, 141, 0.1);
    text-align: center;
}


/* nav */
.fv {
    max-width: 1366px;
    position: relative;
}

.nav_wrap {
    position: fixed;
    top: 0;
    left: 5%;
    transition: 0.5s;
    z-index: 999;
}

.title h1 {
    font-size: 14px;
    color: #687e8d;
    margin-top: 56px;
}

.title  p {
    font-size: 9px;
    color: #687e8d;
    margin-top: 10px;
}


.nav {
    margin-top: 174px;
}

.nav li {
    color: #687e8d;
    margin-top: 36px;
    font-size: 14px;
}

/*↑nav*/

.wrap {
    text-align: center;
    margin-top: 250px;
}


.concept {
    margin-top: 52px;
}

/* main */

/* concept */

.concept_main {
    max-width: 875px;
    margin: 0 auto;
    background-color: #fff;
    padding-top: 264px;
    padding-bottom: 174px;
    margin-top: -20px;
    margin-bottom: 231px;
}

.concept_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6c7d8c;
    padding: 120px 62.5px;
    max-width: 1000px;
    margin: 0 calc((100% - 1000px) / 2);
}

.concept_article h3 {
    font-size: 36px;
    color: #fff;
}

.secondary {
    font-size: 16px;
    color: #fff;
    margin-top: 21px;
    text-align:right;
}
    
.concept_text {
    color: #fff;
    line-height: 2;
    margin-top: 70px;
    font-size: 14px;
}

.concept_img {
    margin-right: calc((100% - 1127px) / 2);
    align-items: center;
}


/* concept2 */

.concept2_wrap {
    margin-top: 313px;
}

.concept2_wrap h3 {
    font-size: 36px;
    color: #3a5e73;
    margin-top: 313px;
    text-align: center;
}

.concept2_img {
    display: flex;
    width: 23%;
    margin-top: 231px;
}

.concept2_text {
    margin-top: 174px;
    line-height: 2;
}

/*footer*/
.hidden-area {
    position: relative;
}

.hidden {
    animation: fade .2s ease-in-out forwards;
    pointer-events: none;
   }

@keyframes fade {
    from {
     opacity: 1;
    }
   
    to {
     opacity: 0;
    }
   }
   
   .visible {
    animation: fadeOut .2s ease-in-out forwards;
    pointer-events:all;
   }
   
   @keyframes fadeOut {
    from {
     opacity: 0;
    }
   
    to {
     opacity: 1;
    }
   }

.hidden-area img {
    width: 100%;
    height: 605px;
    object-fit: cover;
}

.footer_wrap {
    position: absolute;
    top: 127px;
    left: 13%;
}

.footer_wrap h1 {
    color: #fff;
    font-size: 14px;
}

.footer_wrap p {
    color: #fff;
    font-size: 9px;
    margin-top: 10px;
}

.footer_nav {
    margin-top: 89px;
}

.footer_nav li {
    color: #fff;
    margin-top: 36px;
    font-size: 14px;
}

.copyright {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 9px;
}

