@charset "UFT-8";

/* common */

body {
    background-color: rgb(216, 216, 204, 0.3);
}

h2 {
    font-size: 21px;
    font-weight: 600;
    color: #3a5e73;
    margin-bottom: 19px;
}

span {
    font-size: 36px;
    color: rgb(104, 126, 141, 0.3);
}

/* FV */
.fv {
    max-width: 1366px;
    height: 744px;
    position: relative;
}

.fv_title {
    margin-left: 5%;
}

.fv_title h1 {
    font-size: 14px;
    color: #687e8d;
    margin-top: 56px;
}

.fv_title  p {
    font-size: 9px;
    color: #687e8d;
    margin-top: 10px;
}


.home_nav {
    margin-top: 174px;
    margin-left: 5%;
}

.home_nav li {
    color: #687e8d;
    margin-top: 36px;
    font-size: 14px;
}

.copy {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 36px;
    color: #3a5e73;
    z-index: 100;
}

.img_wrap {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
}

.img_wrap img {
    width: 100%;
}

.human_wrap {
    position: absolute;
    display: flex;
    top: 0;
    left: 50%;
    transform: translateY(50%);
}

.human_wrap img {
    width: 100%;
}

.human_wrap p {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    text-align: end;
    margin-left: 35px;
    font-size: 16px;
    color: #687e8d;
}

.scroll {
    font-size: 14px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,-50%);
}

.scroll p {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    text-align: center;
    color: #3a5e73;
}

/* main */

.home_main {
    max-width: 875px;
    margin: 0 auto;
    background-color: #fff;
}
/* content */

.content{
    margin-top: 67px;
    padding-top: 179px;
    margin-left: 28%;
}

.content p {
    font-size: 14px;
    line-height: 2;
}

.top_space {
    margin-top: 36px;
}

/* about */

.about {
    margin-top: 231px;
    margin-left: 28%;
    max-width: 340px;
}

.about_img {
    margin-top: 109px;
}

.about_img img {
    width: 100%;
}

.about_lead {
    margin-top: 52px;
    width: 100%;
}

.about_lead p {
    font-size: 14px;
    line-height: 2;
}


.about_btn {
    font-size: 14px;
    border: 1px solid #666;
    text-align: center;
    width: 218px;
    max-width: 80%;
    margin-top: 109px;
    margin-bottom: 174px;
    font-family: 'Noto Serif JP', serif;
    padding: 0;
    position: relative;
    text-align: center;

}

.about_btn a {
    display: block;
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
}


.about_btn::before {
	content: "";
	display: block;
	width: 76px;
	height: 1px;
	background: #666;
	position: absolute;
	top: 0;
	bottom: 0;
	right: -38px;
	margin: auto;
}

/* works */

.works {
    margin-top: 231px;
}

.works h2 {
    margin-left: 28%;
}

.works span {
    margin-left: 28%;
}

.bg {
    background-color: rgb(111, 106, 103, 0.1);
    width: 30%;
}

.works_img_wrap {
    margin: 0 calc(50% - 50vw);
    margin-top: 109px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 52px;
    text-align: center;
}

.works_img_wrap a {
    width: 30%;
}

.works_btn {
    font-size: 14px;
    border: 1px solid #666;
    text-align: center;
    width: 218px;
    max-width: 80%;
    margin-top: 109px;
    margin-left: 28%;
    font-family: 'Noto Serif JP', serif;
    padding: 0;
    position: relative;
    text-align: center;

}

.works_btn a {
    display: block;
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
}


.works_btn::before {
	content: "";
	display: block;
	width: 76px;
	height: 1px;
	background: #666;
	position: absolute;
	top: 0;
	bottom: 0;
	right: -38px;
	margin: auto;
}

.bg_margin {
    width: 100%;
    background-color: #fff;
    padding-top: 174px;
    margin-bottom: 231px;
}



/*footer*/
.footer {
    position: relative;
}

.footer img {
    width: 100%;
    height: 605px;
    object-fit: cover;
}

.footer_wrap {
    position: absolute;
    top: 127px;
    left: 13%;
}

.footer_wrap h1 {
    color: #fff;
    font-size: 14px;
}

.footer_wrap p {
    color: #fff;
    font-size: 9px;
    margin-top: 10px;
}

.footer_nav {
    margin-top: 89px;
}

.footer_nav li {
    color: #fff;
    margin-top: 36px;
    font-size: 14px;
}

.copyright {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 9px;
}