@charset "UFT-8";

/* common */

body {
    background-color: rgb(216, 216, 204, 0.3);
}

span {
    font-size: 56px;
    color: rgb(104, 126, 141, 0.1);
    text-align: center;
}


/* nav */
.fv {
    max-width: 1366px;
    position: relative;
}

.nav_wrap {
    position: fixed;
    top: 0;
    left: 5%;
    transition: 0.5s;
    z-index: 999;
}

.title h1 {
    font-size: 14px;
    color: #687e8d;
    margin-top: 56px;
}

.title  p {
    font-size: 9px;
    color: #687e8d;
    margin-top: 10px;
}


.nav {
    margin-top: 174px;
}

.nav li {
    color: #687e8d;
    margin-top: 36px;
    font-size: 14px;
}

/*↑nav*/

.wrap {
    text-align: center;
    margin-top: 250px;
}

.secondary {
    color: #3a5e73;
    font-size: 36px;
}

.works {
    margin-top: 52px;
}

/* main */

.works_main {
    max-width: 875px;
    margin: 0 auto;
    background-color: #fff;
    padding-top: 264px;
    padding-bottom: 174px;
    margin-top: -20px;
    margin-bottom: 231px;
    text-align: center;
}

/* btn */

/* .works_btn {
    font-size: 14px;
    border: 1px solid #666;
    text-align: center;
    width: 218px;
    max-width: 80%;
    margin-top: 109px;
    margin-bottom: 174px;
    font-family: 'Noto Serif JP', serif;
    padding: 0;
    position: relative;
}

.works_btn a {
    display: block;
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
}


.works_btn::before {
	content: "";
	display: block;
	width: 76px;
	height: 1px;
	background: #666;
	position: absolute;
	top: 0;
	bottom: 0;
	right: -38px;
	margin: auto;
} */

.works_img {
    display: inline-block;
}

.works_img p {
    font-size: 7px;
    margin-top: 10px;
    color: #3a5e73;
    text-align: right;
}

.works_tittle {
    margin-top: 117px;
    text-align: left;
    margin-left: 10%;
}

.works_tittle p {
    font-size: 36px;
    color: #3a5e73;
}

.works_tittle h3 {
    font-size: 36px;
    color: #3a5e73;
    margin-top: 20px;
}

.lead {
    width: 685px;
    margin-top: 109px; 
    margin-left: calc(315px - (1000px - 100%) / 2);
    font-size: 14px;
    text-align: left;
}

.lead p {
    line-height: 2;
}

.article {
    width: 685px;
    margin-top: 109px; 
    margin-left: calc(315px - (1000px - 100%) / 2);
}



.item_wrap {
    text-align: right;
}


.item {
    display: flex;
    border-bottom: 1px solid #6f6a67;
    padding-top: 40px;
    padding-bottom: 40px;
}

h4 {
    display: flex;
    color: #3a5e73;
    font-size: 14px;
    width: 20%;
    text-align: left;
    align-items: center;
}

.item p {
    font-size: 14px;
    margin-left: 9%;
    text-align: left;
    line-height: 2;
    width: 100%;
}

@media screen and (max-width: 1000px) {

    .lead {
        margin-left: calc((100vw - 685px) - (100vw - 100%) / 2);
        text-wrap: balance;
    }

    .article {
        margin-left: calc((100vw - 685px) - (100vw - 100%) / 2);
    }
       
    .item p {
        text-wrap: balance;
    }
    }

/*footer*/
.hidden-area {
    position: relative;
}

.hidden {
    animation: fade .2s ease-in-out forwards;
    pointer-events: none;
   }

@keyframes fade {
    from {
     opacity: 1;
    }
   
    to {
     opacity: 0;
    }
   }
   
   .visible {
    animation: fadeOut .2s ease-in-out forwards;
    pointer-events:all;
   }
   
   @keyframes fadeOut {
    from {
     opacity: 0;
    }
   
    to {
     opacity: 1;
    }
   }

.hidden-area img {
    width: 100%;
    height: 605px;
    object-fit: cover;
}

.footer_wrap {
    position: absolute;
    top: 127px;
    left: 13%;
}

.footer_wrap h1 {
    color: #fff;
    font-size: 14px;
}

.footer_wrap p {
    color: #fff;
    font-size: 9px;
    margin-top: 10px;
}

.footer_nav {
    margin-top: 89px;
}

.footer_nav li {
    color: #fff;
    margin-top: 36px;
    font-size: 14px;
}

.copyright {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 9px;
}